
body {
  background-color: #333;
  color: #ccc;
}

a {
  color: forestgreen;
  text-decoration: none;
}

.controls {
  float: left;
  width: 180px
}

.map {
  float: left;
  width: calc(100% - 180px);
  height: calc(100vh - 20px);
}

#route {
  font-size: .8rem;
}
